body {
  font-family: "Archivo Narrow", sans-serif;
  background-image: url("https://www.dropbox.com/s/fe2ys6mdceqhf7b/teslas.jpg?raw=1");
  margin: 0;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: center;
}
nav a {
  margin-left: 25px;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

header {
  background-image: url("bg-tile.gif");
  padding: 40px 0px;
}

.section-one {
  padding: 20px 40px;
  flex: 1;
}
.section-two {
  border-left: 1px solid black;
  flex: 1;
  padding: 20px 40px;
}
.section-wrap {
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.middle-section {
  padding: 20px 100px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}
.middle-section section {
  padding: 0px 100px;
}
.imgone img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: auto;
}
.imgone {
  display: flex;
  justify-content: center;
}
.form-section {
  text-align: center;
  color: white;
}
form {
  margin-top: 100px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}
input {
  text-align: center;
  margin: auto;
  font-size: 20px;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.295);
  max-width: 900px;
}
button {
  text-decoration: none;
  border: 1px solid rgba(8, 8, 8, 0.356);
  padding: 10px 10px;
  background-color: white;
  color: black;

  font-size: 30px;
}
.button {
  margin-top: 30px;
  text-align: center;
}
footer {
  margin-top: 30px;
  font-family: "Archivo Narrow", sans-serif;
  color: rgb(0, 0, 0);
  display: flex;
  background-image: url("bg-tile.gif");
  justify-content: space-around;
  padding: 20px 0px;
}
@media screen and (max-width: 912px) {
  .section-wrap {
    display: flex;
    flex-direction: column;
  }
  .section-two {
    border-left: none;
  }
  .imgone img {
    width: 440px;
  }
  footer {
    font-size: 18px;
    flex-direction: column;
  }
  .middle-section {
    padding: 0px 20px;
  }
  input {
    width: 500px;
  }
}

@media screen and (max-width: 541px) {
  .section-one {
    padding: 0;
  }
  nav a {
    font-size: 15px !important;
    margin-left: 14px;
  }
  section {
    padding: 0 !important;
  }
  .section-two p {
    padding: 0px 20px;
  }
  input {
    width: 340px;
  }
}
@media screen and (max-width: 415px) {
  nav a {
    font-size: 18px;
  }
  .section-one p {
    padding: 0px 20px;
  }
  .imgone img {
    width: 350px;
  }
}

@media screen and (max-width: 300px) {
  .section-two p {
    padding: 0px 10px;
  }
  .section-one p {
    padding: 0px 10px;
  }
  .imgone img {
    width: 200px;
  }
  input {
    width: 220px;
  }
  nav a {
    font-size: 12px !important;
  }
}
